/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(170,42,81);
}

.container{
    width: 70%;
    margin: 100px auto;
}

.hidden{
    display: none;
}

.title{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}

.cl-white{
    color: white;
}

.cl-fuxia{
    color: rgb(170,42,81);
}

.tx-align-center{
    text-align: center;
}

.row{
    background: white;
}

.border-radius-10{
    border-radius: 10px;
}

.p-all{
    padding: 3% 10%;
}

.box-shadow{
    box-shadow: 10px 1px 20px black;
}

label{
    display: block;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.clearfix > div {
    float: left;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p-10{
    padding: 10px;
}

.btn{
    padding: 10px;
    border: 0;
    color: rgb(170,42,81);
    cursor: pointer;
}

.margin-start-1{
    margin-left: 1rem;
}

.margin-b-2{
    margin-bottom: 2rem;
}

input,
select{
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(170,42,81);
    padding: 5px 10px;
}